# Maven / Java
backend/target/
backend/*.class
backend/.mvn/wrapper/maven-wrapper.properties
!backend/mvnw
!backend/mvnw.cmd

# Node / Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/dist-ssr
frontend/*.local

# IDEs y Editores
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.log
.DS_Store
Thumbs.db
