# Variables de entorno para la Base de Datos del Backend
# Copiá este archivo y renombralo como '.env' en esta misma carpeta

DB_URL=jdbc:postgresql://localhost:5432/patitas_en_alerta
DB_USERNAME=tu_usuario_postgres
DB_PASSWORD=tu_contraseña_postgres
